body{
    background-color: #393E46;
}
.general{
    text-align: center;
    padding: 5%;
}
.divMiddle{
    padding-left: 30%;
    padding-right: 30%;

}
.header{
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    margin-bottom: 5%;
    color:#4ECCA3;
}
.players{
    margin-bottom: 13%;
    font-family: 'Indie Flower',cursive;
    color:#4ECCA3;
}
.dive{
    width: 80%;
}
footer{
    color: white;
    padding-top: 8%;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 0.8rem;
}
